<!DOCTYPTE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/style.css" rel="stylesheet">
    <title>just how bad is it?</title>
    <script type="text/javascript">
      function IsValidForm(form) {
        var isValidZip = /^[0-9]{5}$/.test(form.zip_code.value);
        if (!isValidZip) {
          alert('try a US-style 5-digit zip code');
          return false;
        } else if (!form.item1.checked && !form.item2.checked && !form.item3.checked) {
            alert('you must choose at least one item');
            return false; 
        } else {
            return true;
        }
      }
    </script>
  </head>  
  <body>
    <div class="text">
      <h1>just how bad is it?</h1>
      <form action="/results.html" method="post">
        <input type="text" name="zip_code" maxlength="5" size="10" placeholder="zip code"><br>
        <input type="checkbox" name="item1" value="bread" checked>bread
        <input type="checkbox" name="item2" value="eggs" checked>eggs
        <input type="checkbox" name="item3" value="milk" checked>milk<br>
        <input type="submit" value="submit" onclick="return IsValidForm(this.form);">
      </form>
      <a href="/legal.html">legal notice</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
