{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript">
      function IsValidForm(form) {
        var isValidZip = /^[0-9]{5}$/.test(form.zip_code.value);
        if (!isValidZip) {
          alert('try a US-style 5-digit zip code');
          return false;
        } else if (!form.item1.checked && !form.item2.checked && !form.item3.checked && !form.item4.checked) {
            alert('you must choose at least one item');
            return false; 
        } else {
            return true;
        }
      }
    </script>
{% endblock %}
{% block content %}
    <div class="text">
      <p>enter your zip code and make your selections below</p>
      <form action="/results.html" method="post">
        <input type="text" name="zip_code" maxlength="5" size="10" placeholder="zip code"><br>
        <input type="checkbox" name="item1" value="bread" checked>bread
        <input type="checkbox" name="item2" value="eggs">eggs
        <input type="checkbox" name="item3" value="milk" checked>milk
        <input type="checkbox" name="item4" value="toilet paper">toilet paper<br>
        <input type="submit" value="submit" onclick="return IsValidForm(this.form);">
      </form>
    </div>
{% endblock %}
