{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript">
      function IsValidForm(form) {
        var isValidZip = /^[0-9]{5}$/.test(form.zip_code.value);
        if (!isValidZip) {
          alert('try a US-style 5-digit zip code');
          return false;
        } else if (!form.item1.checked && !form.item2.checked && !form.item3.checked && !form.item4.checked) {
            alert('you must choose at least one item');
            return false; 
        } else {
            return true;
        }
      }
    </script>
{% endblock %}
{% block content %}
    <div class="text">
      <p>enter your zip code and make your selections below</p>
      <form action="/results"> 
        {{ form.hidden_tag() }}
        {{ form.zip_code(size=5,placeholder="zip code") }}
        {{ form.bread.label }} {{ form.bread }}
        {{ form.eggs.label }} {{ form.eggs }}
        {{ from.milk.label }} {{ form.milk }}
        {{ form.tp.label }} {{ form.tp }}
        <input type="submit" value="submit" onclick="return IsValidForm(this.form);">
    </div>
{% endblock %}
