{% extends 'base.html' %}
{% block scripts %}
    <script type="text/javascript">
      function IsValidForm(form) {
        var isValidZip = /^[0-9]{5}$/.test(form.zip_code.value);
        if (!isValidZip) {
          alert('try a US-style 5-digit zip code');
          return false;
        } else if (!form.bread.checked && !form.eggs.checked && !form.milk.checked && !form.tp.checked) {
            alert('you must choose at least one item');
            return false; 
        } else {
            return true;
        }
      }
    </script>
{% endblock %}
{% block content %}
    <div class="text">
      <p>enter your zip code and make your selections below</p>
      <form action="forecast" novalidate>
        {{ form.zip_code(maxlength=5, size=10, placeholder="zip code") }} <br>
        {{ form.bread() }} {{ form.bread.label }}
        {{ form.eggs() }} {{ form.eggs.label }}
        {{ form.milk() }} {{ form.milk.label }}
        {{ form.tp() }} {{ form.tp.label }} <br>
        {{ form.submit(onclick="return IsValidForm(this.form);") }}
      </form>
    </div>
{% endblock %}
